<!--
@license MIT
Copyright (c) 2017 Horacio "LostInBrittany" Gonzalez

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->

<link rel="import" href="bower_components/polymer/polymer-element.html">

<!-- Bootstrap -->
<link rel="import" href="bower_components/granite-bootstrap/granite-bootstrap-min.html">


<link rel="import" href="bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="bower_components/app-pouchdb/app-pouchdb-document.html">

<link rel="import" href="edit-book.html">
<link rel="import" href="edit-user.html">

<dom-module id="pouchdb-example">
  <template>
    <style include="granite-bootstrap-min">
      :host {
        display: block;
      }
      .container {
        margin-bottom: 36px;
      }
      .table th, .table td {
        vertical-align: middle;
      }
    </style>

    <iron-ajax id="heroesLoader" url="./heroes.json" on-response="_heroesLoaded"></iron-ajax>
    <iron-ajax id="villainsLoader" url="./villains.json" on-response="_villainsLoaded"></iron-ajax>
    <iron-ajax id="booksLoader" url="./books.json" on-response="_booksLoaded"></iron-ajax>

    <app-pouchdb-document
        id="heroesStore"
        db-name="characters"
        doc-id="heroes"
        data="{{heroes}}"></app-pouchdb-document>

    <app-pouchdb-document
        id="villainsStore"
        db-name="characters"
        doc-id="villains"
        data="{{villains}}"></app-pouchdb-document>

    <app-pouchdb-document
        id="booksStore"
        db-name="books"
        doc-id="books"
        data="{{books}}"></app-pouchdb-document>

        <div class="container">
          <h2>Villain list</h2>
          <table class="table table-striped">
            <tr>
              <th>#</td>
              <th>First name</th>
              <th>Last name</th>
              <th>Email</th>
            </tr>
            <template is="dom-repeat" items="[[villains.characters]]" as="user">
              <tr>
                <td>{{index}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
              </tr>
            </template>
          </table>
        </div>
    <div class="container">
      <h2>Hero list</h2>
      <table class="table table-striped">
        <tr>
          <th>#</td>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
        </tr>
        <template is="dom-repeat" items="[[heroes.characters]]" as="user">
          <tr>
            <td>{{index}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
          </tr>
        </template>
      </table>
    </div>
    <div class="container">
      <edit-user></edit-user>
    </div>
    <div class="container">
      <h2>Books</h2>
      <table class="table table-striped">
        <tr>
          <th>#</td>
          <th>title</th>
          <th>author</th>
          <th>price</th>
          <td></td>
          <td></td>
        </tr>
        <template is="dom-repeat" items="[[books.booklist]]" as="user">
          <tr>
            <td>{{index}}</td>
            <td>{{user.title}}</td>
            <td>{{user.author}}</td>
            <td>{{user.price}}</td>
            <td></td>
            <td>Delete</td>
          </tr>
        </template>
      </table>
    </div>

    <div class="container">
      <h2>Load characters</h2>
      <div class="btn btn-primary" on-click="doLoad">Load</div>
    </div>

  </template>

  <script>
    /**
     * `pouchdb-example`
     * An example of array binding and observers with Polymer 2
     *
     * @customElement
     * @polymer
     */
    class ComplexDatabindingExample extends Polymer.Element {
      static get is() { return 'pouchdb-example'; }

      static get properties() {
        return {
          users: {
            type: Object,
            value: () => {},
          },

          heroes: {
            type: Array,
            value: function() { return {}; },
          },

          villains: {
            type: Array,
            value: () => {},
          },

          books: {
            type: Array,
            value: () => {},
          },
        };
      }

      static get observers() {
        return [
          '_herosChanged(users.heros.splices)',
          '_villainsChanged(users.villains.splices)',
          '_booksChanged(users.books.splices)',
        ];
      }

      ready() {
        super.ready();
      }

      _herosChanged() {
        console.log('[pouchdb-example] _herosChanged', this.users.heros);
      }

      _villainsChanged() {
        console.log('[pouchdb-example] _villainsChanged', this.users.villains);
      }
      _booksChanged() {
        console.log('[pouchdb-example] _booksChanged', this.users.books);
      }

      doLoad() {
        this.$.heroesLoader.generateRequest();
        this.$.villainsLoader.generateRequest();
        this.$.booksLoader.generateRequest();

      }

      _heroesLoaded(evt, ironRequest) {
        console.log('[pouchdb-example] _heroesLoaded', ironRequest.response);
        this.heroes = { characters: ironRequest.response };
        this.$.heroesStore.saveValue();

      }
      _villainsLoaded(evt, ironRequest) {
        console.log('[pouchdb-example] _villainsLoaded', ironRequest.response);
        this.villains = { characters: ironRequest.response };;
        this.$.villainsStore.saveValue();

      }
      _booksLoaded(evt, ironRequest) {
        console.log('[pouchdb-example] _booksLoaded', ironRequest.response);
        this.books = { booklist: ironRequest.response };;
        this.$.booksStore.saveValue();

      }
    }

    window.customElements.define(ComplexDatabindingExample.is, ComplexDatabindingExample);
  </script>
</dom-module>
